[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3D_Engine_Core/external/spdlog"]
	path = 3D_Engine_Core/external/spdlog
	url = https://github.com/gabime/spdlog.git
